<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python button script</title>
</head>
<body>
    <button onclick="location.href='{% url 'script' %}'">Ejecutar script</button>
    {% if data %}

    {{data | safe}}

    {% endif %}

    <form action="/external/" method="post">
        {% csrf_token %}
        Input text:
        <input type="text" name="param" required><br><br>
        {{data_external}}<br><br>
        {{data1}}
        <br>
        <br>
        <input type="submit" value="Ejecutar script externo">

    </form>

</body>
</html>